
body {
  background-color: #F2FFFC;
  font-family: "Crimson Text", serif;
  font-size: 20 px;
}
main h1 {
  font-size: 60px;
  background-color: #851944;
  color: #f2fffc;
  text-align: center;
  font-family: "Open Sans Condensed",sans-serif; 
}

h2 {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 30px;
}
p {
  text-align: justify;
}
