h1 {
  font-size: 48px;
  font-family: "Open Sans Condensed",sans-serif;
  color: #ffffff;
  text-align: center;
  background-color: rgb(120, 30, 60);
}
body {
  background-color: #F2FFFC;
  font-family: "Open Sans Condensed",sans-serif;
}

h2 {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 20px;
}
p {
  text-align: justify;
}
